{% extends 'base.html.twig' %}

{% block title %}Season | title{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bonjour</h1>
        {{ dump(season) }}
        {{ dump(program) }}
    </div>
{% endblock %}


