@import "reset";
@import "vars";

$theme-colors: (
        "dark": $dark,
        "secondary": $secondary,
);

@import "~bootstrap/scss/bootstrap";
@import "media";
@import "pagination";

body {
  font-family: $ff-main;
  background-color: $color-light;
}

#main {
  min-height: 100vh;
}

.container {
  margin-top: 2rem;
}

.bg-dark {
  background-color: $color-main;
}

.btn-custom {
  border: 1px solid $dark;
  padding: $margin-sm / 2 $margin-sm;
  border-radius: $border-radius;
  margin-left: $margin-sm;
  margin-right: $margin-sm;
}

hr {
  background-color: $color-light;
  height: 1px;
  width: 100%;
  border: none;
  margin: $margin-sm;
  opacity: .5;
}

.navbar-dark .navbar-nav .nav-link,
.navbar .navbar-brand {
  color: $color-light;
  font-family: $ff-title;
  transition: $effect-transition;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar .navbar-brand:hover {
  color: $color-light-hover;
}

a, a:hover, .btn-link, .btn-link:hover, .btn-link:active, .btn-link:visited, .btn-link:target, .btn-link:focus {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.card {
  max-width: 230px;
}

.media img {
  max-width: 400px;
}

.media .nav-link {
  background-color: $color-main;
  color: $color-light;
  display: inline-block;
  border-radius: $border-radius;
  margin: $margin-sm;
}

.sidebar {
  border-right: 1px solid $color-main;
  background-color: $color-dark;
  color: $color-light;
  min-height: 100vh;
}

.sidebar .nav-link {
  padding: $margin-sm;
}

.active {
  color: $color-dark;
  background-color: $color-light;
}

.media-body .table td {
  border: none;
}

.media-body table td:first-child {
  max-width: 30px;
}

.list-episodes img {
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.list-episodes .card {
  min-width: 100%;
}

.admin-home .fas, .admin-home .fab {
  padding-top: 25px;
  text-align: center;
  font-size: 100px;
}

.table img {
  max-width: 70px;
}

footer {
  height: 80px;
  background-color: $color-navbar;
}

.image-container {
  width: 100%;
  height: auto;
}

#img, .image-shadow {
  text-align: center;
  background-color: $color-grey;
  display: block;
  height: auto;
  border-radius: 5px;
  min-height: 200px;
  box-shadow: $box-shadow;
}

.resp-show {
  display: none;
}

textarea {
  min-height: 140px;
}

.container .select2-container--default .select2-selection--single {
  height: 100%;

  .select2-selection__rendered {
    background-color: $color-main;
    color: $color-light-hover;
    display: inline-block;
    margin: 5px;
    border-radius: $border-radius;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $color-main !important;
  color: $color-light-hover !important;
}

.card-actor {
  max-width: 150px;
  height: auto;
  display: inline-block;

  .card-img-actor {
    height: 75%;
    object-fit: cover;
  }

}
